body {
  font-size: 16px;
  line-height: 1;
  font-family: 'Corben', serif;
}

textarea {
  border:#000000;
  resize: none;
  color: #000000;
  border-left: 1px solid grey;
  font-family: 'Radley', serif;
  justify-content: space-between;
  border-collapse: separate;
  border-spacing: 10px;
}
.lead {
 color: gray;
}

.jumbotron {
  text-align: center;
  background: rgb(247, 236, 236);;
  color: black;
  border-radius: 0;
  border-bottom: 3px solid black;

}
.container {
  width: 100%;
  padding-right: 45px;
  padding-left: 15px;
  margin-right: inherit;
  margin-left: 350px;
}
.col-6 col-md-2 {
  text-align:justify
}
.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 45px;
  margin-left: 100px; 

}

.row {
  white-space: pre-wrap;
  height: 55px;
  border-top: 5px solid whitesmoke;

}

.hour {
  background-color: gray;
  color: #ffffff;
  text-align: center;
  padding: 15px;
  border-radius: 150px;
  justify-content: space-around;
  border-radius: 45px;
  text-align: center;
}

.past {
  background-color: #c5bdbd;
  color: white;
  padding: 5px;
}

.present {
  background-color: #5e8f5e;
  color: white;
  padding: 5px;
}

.future {
  background-color: #d8746f;
  color: white;
  padding: 5px;
}
.button, select {
  overflow: visible;
  border-radius: 200px;
  background-color: rgb(238, 226, 226);
  font-family: inherit;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(238, 226, 226);
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}